@media (max-width: 960px) {
  .text {
    &-xl {
      font-size: 1.875rem;
    }
    &-lg {
      font-size: 1.5625rem;
    }
    &-md {
      font-size: 1.1875rem;
    }
  }
}

@media (max-width: 768px) {
  .grid {
    &-col {
      &-2 {
        grid-template-columns: 1fr;
      }
    }
    &-reversed {
      :first-child {
        order: 0;
      }
    }
  }

  .navbar {
    ul {
      &.navbar-nav {
        &-left {
          display: none;
        }
        &-right {
          display: none;
        }
      }
    }
    &-brand {
      img {
        width: 40px;
        height: 40px;
      }
    }
  }

  .footer {
    text-align: center;
  }
}

@media (min-width: 1440px) {
  .divider {
    max-width: 90%;
  }
  .box {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}
